{% extends "base.html" %}
{% block title %}View playlist{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
	{{ super() }}
	<div id="links">
		<span id="edit"><a href="{{ url_for('playlist_edit', id=playlist.id) }}">Edit</a></span>
		<span id="refresh"><a href="{{ url_for('playlist_refresh', id=playlist.id) }}">Refresh</a></span>
		<span id="play">Play:
			<span id="link_ordered"><a href="{{ url_for('playlist', id=playlist.id) }}">Ordered</a></span>
			<span id="link_random"><a href="{{ url_for('playlist', id=playlist.id) }}?random=1">Randomized</a></span>
		</span>
	</div>
	<div id="playlist">
		<table id="videos" class="full">
			{% for video in playlist %}
			<tr class="{{ loop.cycle('odd', 'even') }}">
			    <td class="title"><a href="{{ url_for('video', id=video.id) }}">{{ video.title }}</a></td>
			    <td class="author">{{ video.author }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
